@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-size: 16px;
  --background: #ffffff;
  --foreground: oklch(0.145 0 0);
  --primary: #030213;
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.95 0.0058 264.53);
  --muted: #ececf0;
  --accent: #e9ebef;
  --destructive: #d4183d;
  --border: rgba(0, 0, 0, 0.1);
  --input: transparent;
  --ring: oklch(0.708 0 0);
  --radius: 0.625rem;
  --popover: #ffffff;
  --popover-foreground: oklch(0.145 0 0);
  --input-background: #f3f3f5;
  --muted-foreground: #717182;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    font-size: var(--font-size);
  }
}
